#myContainer {
    background-color: rgb(248, 197, 57);
    border: 2px solid rgb(228, 42, 42);
    padding: 40px;
    margin: 30px;
    text-align: center;
    font-family: Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
/* card1 */
.demo-card-wide>.mdl-card__menu {
    color: #e22727;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 equal-width columns */
    gap: 20px;
    /* Space between grid items */
}

.card {
    /* Basic styling for cards */
    border: 1px solid #ccc;
    padding: 20px;
}

.demo-card-wide.mdl-card {
    width: 512px;
}

.demo-card-wide>.mdl-card__title {
    color: #000000;
    height: 176px;
    background: url('../images/spain_home3.jpg') center / cover;
}

.demo-card-wide>.mdl-card__menu {
    color: #fff;
}

#welcome_card {
    position: relative;
    top: -303px;
    left: 550px;
    width: 535px;
    height: 298px;
    border: 3px solid rgb(255, 255, 255);
}

#welcome_card2 {
    position: relative;
    top: -303px;
    left: 550px;
    width: 535px;
    height: 298px;
    border: 3px solid rgb(255, 255, 255);
    width: 512px;
    color: #000000;
        height: 176px;
        background: url('../images/spain_home2.jpg') center / cover;
}

/*attractions page heading*/
#myContainer {
    background-color: rgb(248, 197, 57);
    border: 2px solid rgb(228, 42, 42);
    padding: 40px;
    margin: 30px;
    text-align: center;
    font-family: Times , sans-serif;
}


#myContainer p {
    color: hsl(0, 0%, 0%);
    font-size: 1.1em;

    .center-text {
        text-align: center;
    }